@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');


$blue: #0074D9;
$gray: #DDDDDD;

.font-muli { font-family: 'Roboto', sans-serif; }
.weight-900 { font-weight: 900; }
.h1-huge { font-size: 5rem; }

.pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }

.blue-bg { background-color: $blue; }
.black-bg { background-color: black; }
.yellow-bg { background-color: yellow; }
.green-bg { background-color: green; }
.red-bg { background-color: red; }
.white { color: #EFEFEF; }
.border-black { border-color: black; }
.border-white { border-color: white; }
.gray-bg { background-color: $gray; }

.h-opacity-07:hover { opacity: 0.7; }
.opacity-transition { transition: opacity 0.25s; }
